@import "../components/Navbar/Navbar.scss";
@import "../components/Hero/Hero.scss";
@import "../components/Features/Features.scss";
@import "../components/Footer/Footer.scss";
@import "../components/HeadPanel/HeaderPanel.scss";
@import "../components/Account/Account.scss";
@import "../pages/Login/Login.scss";
@import "../pages/Panel/Panel.scss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
